html{
	background: linear-gradient(#a6e0ae80, #9198e56b);
}

body{
	padding: 20px;
	margin-left: 10%;
	margin-right: 10%;
	border: 5px solid gray; 
}

h2{
	margin: auto;
}

.Contact{
	max-width: 50%;
	float: right; 
	line-height: 25px;
}

#Name{
	font-size: 1.2em;
	font-weight: 700;
}
